body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-link {
    text-decoration: none;
    color: #333;
}

.image-link img {
    width: 100%;
    max-width: 250px;
    margin: 10px;
    transition: transform 0.2s;
}

.image-link img:hover {
    transform: scale(1.05);
}

.image-link p {
    margin-top: 0;
}
